@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Recursive", sans-serif;
}

body {
  background-color: #f3f4f6;
}

.landing-page {
  background-color: #f3f4f6;
  text-align: center;
  height: 200px;
  width: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.landing-page h3 {
  margin-top: 30px;
}

.landing-page button {
  margin-top: 30px;
}

.landing-page button a {
  color: white;
  font-family: "Recursive", sans-serif;
  text-decoration: none;
}

.landing-page a {
  color: black;
  font-family: "Recursive", sans-serif;
  text-decoration: none;
}

.landing-page > button a:hover {
  color: white;
}

.copyright {
  margin-top: 30px;
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid black;
  display: flex;
  background-color: #eff6ff;
  justify-content: space-between;
}

.nav > img {
  padding: 1rem;
  padding-left: 105px;
}

.nav ul {
  list-style: none;
  display: flex;
  margin-top: 13px;
}

.nav ul li {
  list-style: none;
  display: flex;
  font-family: "Recursive", sans-serif;
  font-size: 1.1rem;
  padding: 1.2rem 0.5rem;
  margin: 1rem;
  cursor: pointer;
  padding-right: 30px;
}

.nav ul li a {
  color: black;
  font-family: "Recursive", sans-serif;
  text-decoration: none;
}

.nav ul li a i {
  font-size: x-large;
  color: black;
}

.nav ul li a i:hover {
  opacity: 0.6;
}

.aside-container {
  grid-area: aside-container;
  justify-content: center;
  padding-left: 30px;
}

.aside {
  grid-area: aside;
  padding: 1rem 1rem;
  position: fixed;
}

.aside > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aside > ul > li {
  font-family: "Recursive", sans-serif;
  list-style: none;
  margin: 3px;
  font-size: large;
  cursor: pointer;
  padding-left: 30px;
  padding-top: 5px;
}

.aside .link {
  color: #3b82f6;
  text-decoration: none;
}

.aside .link-active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.content {
  grid-area: content;
  padding: 2em;
  border-left: 2px solid gray;
}

.content > h1 {
  margin-bottom: 1em;
}

/* Content */

.content .title-2 {
  margin: 1rem 0;
}

.info {
  padding: 1rem 0;
}

.import-link {
  margin-top: 20px;
  border: 2px solid #e5e7eb;
  padding: 1rem 1rem;
  background-color: #e5e7eb;
  color: black;
}

.import-link > pre {
  background-color: #e5e7eb;
}

/* Getting Started */

.red {
  border: 2px solid black;
  width: 50px;
  height: 40px;
  background-color: #f87171;
  border-radius: 0.5rem;
  margin: 0.3rem;
}
.green {
  border: 2px solid black;
  width: 50px;
  height: 40px;
  background-color: #34d399;
  margin: 0.3rem;
  border-radius: 0.5rem;
}
.blue {
  border: 2px solid black;
  width: 50px;
  height: 40px;
  background-color: #60a5fa;
  margin: 0.3rem;
  border-radius: 0.5rem;
}
.yellow {
  border: 2px solid black;
  width: 50px;
  height: 40px;
  background-color: #fbbf24;
  margin: 0.3rem;
  border-radius: 0.5rem;
}

.colors {
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.font {
  border: 2px solid #e5e7eb;
  background-color: #e5e7eb;
  padding: 1rem;
}
.font > div {
  background-color: #e5e7eb;
}
.font > h3 {
  background-color: #e5e7eb;
}
.font > h3 > a {
  cursor: pointer;
  text-decoration: none;
  background-color: #e5e7eb;
}

.font-color > h4 {
  margin-top: 0.3rem;
  margin-bottom: 0rem;
}

/* /* Avtar */

.avatar-component {
  display: block;
  margin: auto;
}
.avatar-component > h3 {
  padding: 1rem 0;
}

.avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar > img {
  padding: 1rem;
}

/* Alert */

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
  height: 16rem;
}

.alerts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
}

/* Badge */

.primary-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.primary-badge > div {
  padding: 1rem;
}

.notification-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  font-size: 3.5rem;
  margin: 0.4rem 0;
}

/* Button */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Image */

.bg-img {
  display: flex;
  flex-wrap: wrap;
}

/* Inputs */

/* footer */

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.footer > ul {
  list-style: none;
  display: flex;
}

.footer > ul > li {
  margin: 1em;
  font-size: small;
}

.container {
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "aside-container content content content content content"
    "aside-container content content content content content"
    "footer footer footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .nav {
    grid-area: nav;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav > ul > li {
    margin: 0.2rem;
  }

  .nav > ul {
    margin: 0rem;
    display: flex;
    flex-direction: row;
  }

  .aside {
    display: none;
    grid-area: aside-hide;
    height: 60vh;
    padding: 1em;
    position: static;
  }

  .aside-container {
    grid-area: aside-container-hide;
    display: none;
    justify-content: center;
  }

  .content {
    width: 90vw;
    grid-area: content;
    border-left: 1px solid rgb(0, 0, 0);
    padding: 2em;
  }

  .container {
    width: 100vw;
    display: grid;
    grid-template-areas:
      "nav"
      "content"
      "content"
      "footer";
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  }
}
