
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Recursive", sans-serif;
    background-color: #FFFBEB;
}

/* Navigation */

nav {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

nav > img {
    padding: 1rem;
    padding-left: 65px;
}

nav ul {
    display: flex;
    margin-top: 13px;
}

nav ul li {
 list-style: none;
 display: flex;
 font-family: "Recursive", sans-serif;
 font-size: 1.1rem;
 padding: 1.2rem 0.5rem;
 margin: 1rem;
 cursor: pointer;
 padding-right: 30px;
}

nav ul li a {
    font-family: "Recursive", sans-serif;
    text-decoration: none;
}

/* aside */

.aside {
    grid-area: aside;
    padding: 1em;
    position: fixed;
    border-right: 2px solid black;
}

.aside > ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aside > ul > li{
    font-family: "Recursive", sans-serif;
    list-style: none;
    margin: 5px;
    font-size: large;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 5px;
}

/* main-section */

.main-section {
    display: flex;
}

.main-section > img {
    margin: 3rem 3rem
}

.card {
    display: flex;
    flex-direction: column;
  }
  .card > h4 {
      margin-top: 30px;
    color: #4071ad;
    margin-bottom: 20px;
  }
  
  .title {
    font-weight: 300;
    padding-top: 1.5rem;
    font-size: 1.2rem;
  }
  
  .card {
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .card > h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
    
  .card > p { 
      display: flex;
    text-align: justify;
}

  .author > h4 {
    color: rgb(0, 0, 0);
  }
  
  .card .time {
    color: rgb(83, 78, 78);
  }
  
  .card img {
      border-radius: 4rem;
      margin-top: 50px;
    height: 110px;
    width: 80px;
  }
  
 /* main content  */

 .content {
    padding: 2em;
}

/* footer */

.footer {
    border-top: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    
}

.footer > h3 {
    margin-top: 30px;
}

.footer > ul {
    padding-inline-start: 0;
    list-style: none;
    color: black;
    display: flex;
}

.footer > ul > li {
    margin: 1em;
    color: black;
    font-size: small
}