<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../components.css">
    <script src="https://use.fontawesome.com/f3bf4fe506.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="icon" href="https://i.pinimg.com/originals/fc/5e/b7/fc5eb7dc23cd8018e17a581c88b9c308.png" type="image/png">
    <title>Cherry Css | Docs</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="../img/logo.png" height="80px"></a>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../components/docs.html">Documentation</a></li>
                <li class="gray-text">v0.1</li>
                <li><a class="link" href="https://github.com/ashrayparmar/Copmonent-Library"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="aside-container">
            <div class="aside">
                <ul>
                    <li><a class="link-active" href="../components/docs.html">Getting Started</a></li>
                    <li><a class="link" href="../components/avatar.html">Avatar</a></li>
                    <li><a class="link" href="../components/alert.html">Alert</a></li>
                    <li><a class="link" href="../components/badge.html">Badge</a></li>
                    <li><a class="link" href="../components/button.html">Buttons</a></li>
                    <li><a class="link" href="../components/cards.html">Cards</a></li>
                    <li><a class="link" href="../components/image.html">Image</a></li>
                    <li><a class="link" href="../components/input.html">Input</a></li>
                    <li><a class="link" href="../components/list.html">List</a></li> 
                    <li><a class="link" href="../components/navigation.html">Navigation Bar</a></li>
                    <li><a class="link" href="../components/modal.html">Modal</a></li>
                    <li><a class="link" href="../components/rating.html">Rating</a></li>
                    <li><a class="link" href="../components/slider.html">Slider</a></li>
                    <li><a class="link" href="../components/grid.html">Simplified Grid</a></li>
                    <li><a class="link" href="../components/text.html">Text Utilities</a></li>
                    <li><a class="link" href="../components/toast.html">Toast</a></li>
                </ul>
            </div>
        </div>

        <div class="content">

            <div class="get-start">
                <div class="title">
                    <h1>Welcome to <span style="color: #F87171;">Cherry CSS</span> 🍒<div class="title-2">Build mordern web applications with our built in css componenets</div></h1>
                </div>
                
                <div class="info">
                    <h3 style="padding-bottom: 5px;">Here is how to configure,</h3>
                    <h4>Import the Css file and add it to you project folder</h4>
                    <div class="import-link">
                    <pre>&lt;link rel="stylesheet" href="components.css&gt;</pre>
                    </div>
                </div>

                <div class="font-color">
                    <h4>Soothing colors for Eyes</h4>
                    <div class="colors">
                        <div class="red"></div>
                        <div class="green"></div>
                        <div class="blue"></div>
                        <div class="yellow"></div>
                    </div>
                    <h4 style="margin-bottom: 20px;">Font Icon</h4>
                    <div class="font">
                        <h3>import ionicon and include it in your project folder 👉🏻 <a href="https://ionicons.com/">Link</a></h3>
                        <div style="padding: 1rem 0rem"><pre>&lt;script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script&gt;</pre>
                        </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</body>
</html>
